// Fonts
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fira-sans/fira-sans-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/fira-sans/fira-sans-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/fira-sans-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/fira-sans-v10-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/fira-sans/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fira-sans/fira-sans-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/fira-sans/fira-sans-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fira-sans/fira-sans-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fira-sans/fira-sans-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fira-sans/fira-sans-v10-latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}

// Some variables
$blue: rgb(35, 56, 118) !default;
$font-family-sans-serif: "Fira Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Lightgallery
@import "~lightgallery.js/src/sass/lightgallery.scss";

// Font Awesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/* General */
body {
    min-height: 100vh;
}
nav, footer {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}
footer {
    width: 100%;
    z-index: 1;
}

/* Colors */
.card.bg-primary a {
    color: white;
}

/* Card images */
.card-image-cover, .card-image-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-img-wrap {
    overflow: hidden;
    position: relative;
}
.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}
.card-img-wrap:hover img {
    transform: scale(1.2);
}
.card-img-wrap:hover:after {
    opacity: 1;
}

/* Navbar */
.navbar .navbar-brand {
    font-size: 1.2rem;
}
.navbar .navbar-brand img {
    height: 32px;
    margin-right: 1rem;
}
.navbar .navbar-nav .nav-link:not(.btn) {
    padding: .5rem .7rem;
    line-height: 1.625rem;
}
.navbar a:not(.btn):not(.dropdown-item) {
    color: #fff!important;
}
.navbar .navbar-nav .nav-item.active .nav-link:not(.btn), .navbar .navbar-nav .nav-item .nav-link:not(.btn):active, .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus, .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover {
    background-color: hsla(0,0%,100%,.2);
    border-radius: .1875rem;
}
@include media-breakpoint-down(lg) {
    .navbar ul.dropdown-menu {
        border: none;
        margin-bottom: 0.125rem;
    }
    .navbar-nav .nav-item:not(:last-child) {
        margin-bottom: 0.125rem;
    }
}
@include media-breakpoint-up(lg) {
    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 5px;
    }
}

/* Background images */
.background-filter-light {
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.4), rgba(44, 44, 44, 0.8));
}
.background-filter-dark {
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.7), rgba(44, 44, 44, 0.9));
}
.background-wrapper {
    max-height: none !important;
    min-height: 150px;
    width: 100%;
    padding: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.background-wrapper .background-image {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Animated scroll button (for the landing page) */
.scroll a {
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    transition: opacity .3s;
}
.scroll a {
    padding-top: 80px;
}
.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.scroll a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.scroll a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Flashing content (for highlighting nav items) */
.flashing {
    animation: blinker 4s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.25;
    }
}
